body {
  margin: 0;
  padding: 0;
}

a {
  font-size: 14px;
  color: #333;
  text-decoration: underline;
}

a:visited {
  color: #666;
}

.index-content {
  padding: 10px;
  background-color: #f0f0f0;
  width: 50%;
  margin: 0 auto;
}

.index-content .item {
  font-size: 14px;
}

.index-content .img {
  background: url("img/c.png") left center no-repeat;
  width: 200px;
  height: 50px;
}
