{
    "env": {
        "node":{
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets":{
                            "node":"current"
                        }
                    }
                ],
                "@babel/preset-react"
            ],
            "plugins": [
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-proposal-class-properties",
                "./webpack/babel/plugin/no-require-css"
            ]
        },
        "development": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "browsers": [
                                ">1%",
                                "last 2 versions",
                                "not ie <= 8"
                            ]
                        },
                        "useBuiltIns": "usage",
                        "corejs": 3
                    }
                ],
                "@babel/preset-react"
            ],
            "plugins": [
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-proposal-class-properties",
                [
                    "@babel/plugin-transform-runtime",
                    {
                        "corejs": 3
                    }
                ],
                "react-hot-loader/babel"
            ]
        }
    }
}