.main-menu-f-item{
    background: #fff;   
    border-bottom: solid 1px #ccc; 
    .fitema {
        text-align: left;
        display: block;
        height: 40px;
        line-height: 40px;
        padding-left: 30px;
        border-bottom: solid 1px #efefef;
    }
    .fitem-child{
        background-color: #efefef;
        padding:5px 0;
        a{
            display: block;
            height: 30px;
            line-height: 30px;
            
            color: #666;
            padding-left: 30px;
        }
        a:hover{
            color: #000;
        }
    }

}