.com-news-list h1 {
  font-size: 18px;
  margin-left: 20px;
}

.com-news-list ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.com-news-list ul li {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-bottom: 20px;
}

.com-news-list ul li p {
  display: flex;
  flex-direction: row;
}

.com-news-list ul li p span {
  display: block;
  margin-right: 20px;
}
