@import "../../public/base.scss";

.index-content{

    padding:10px;
    background-color: #f0f0f0;
    width: 50%;
    margin:0 auto;
    .item{
        font-size: 14px;
    }
    .img{
          background: url('./img/c.png') left center no-repeat;
          width: 200px;
          height: 50px;
    }
}