<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="keywords" content="<%=page.tdk.keyword%>" />
    <meta name="description" content="content="<%=page.tdk.description%>" />
    <link rel="shortcut icon" href="https://www.xin.com/favicon.ico">
    <%page.staticSource.css.forEach(function(item){%>
        <link rel="stylesheet" type="text/css" href="<%=item%>">
    <%})%>
   
    <title><%=page.tdk.title%></title>
</head>
<body>
    <div id="rootEle">
        <%- htmlContent %>
    </div>
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
</body>
</html>
</body>
<script>
    window._INITAL_DATA='<%- propsData %>';
</script>
<%page.staticSource.js.forEach(function(item){%>
    <script type="text/javascript" src="<%=item%>"></script>
<%})%>
